/* My Styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-family: 'Stardom-Regular';
    font-size: 100px;
  }
  
  span:nth-child(odd) {
    color: blueviolet;
  }